/* albumStyles.css */

	.highlight {background-color:red}
	
	.heading {background-color:grey}
	
	#image{
	background-image: url("AlbumArt/Sway-Cover.jpg");
	width:300px;
	height:300px;
	background-size: contain;
}
	
	a {
		color:dodgerblue;
		text-decoration:none
	}
	
	a:hover {
		color:white;
		background-color:dodgerblue;
		text-decoration:underline;
	}

