/* anthonyStyles.css */


.border1 {
    border-radius: 25px;
    background: #a6abb2;
    padding: 20px; 
    height: 150px;    
}

.border2 {
    border-radius: 25px;
    border: 2px solid #2c20ad;
    height: 150px;
}
    padding: 20px; 
    width: 200px;
        