/* anthonyStyles.css */

.border {
    border-radius: 25px;
    background: #a6abb2;
    padding: 20px;
    height: 150px;
}

.border2 {
    border-radius: 25px;
    border: 2px solid #2c20ad;
    height: 150px;
    width: 200px;
    margin: 25px;
}

.mainDivBorder {
    border-radius: 25px;
    background: #9da1b2;
    border: 2px solid #2c20ad;
}

.button {
  height: 135px;
width: 185px;
margin: 4px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3385ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}

.button:hover {background-color: #000099}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}