/* restaurantStyles.css */

	.background {background-color:powderblue}
	
	.heading {background-color:grey}

	.highlight {background-color:red}
	
	@font-face {
			font-family: 'MyWebFont';
			src: url('webfont.eot'); /* IE9 Compat Modes */
			src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
			url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
			url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
					}
			#title {
				font-family: 'MyWebFont', Fallback, sans-serif;
					}

	.footer {
		color:red}
		
	a {
		color:black;
		text-decoration:none
	}
	
	a:link	{
		color:black;
		text-decoration:none
	}
	
	a:visited	{
		color:blue;
	}
		
	a:hover {
		font-weight:bold;
		text-decoration:underline;
	}
	
	a:active	{
		text-decoration:none
	}

